<html>
  <body>
    <h1>Talk By</h1>
    <p>
      <%= link_to "Marcus Irven", "http://marcusirven.com" %> (<%= link_to "@mirven", "http://twitter.com/mirven" %>)
    </p>
    <h1>Links</h1>
    <ul>
      <li><%= link_to "Demo Source", "http://github.com/mirven/vanity-aor/" %></li>
      <li><%= link_to "Demo", "http://vanity-aor.heroku.com" %></li>
      <li><%= link_to "Vanity", "http://vanity.labnotes.org/" %></li>
      <li><%= link_to "Vanity Google Group", "http://groups.google.com/group/vanity-talk" %></li>
    </ul>

  </body>
</html>
